.card_product {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    padding        : 12px;
    height         : 400px;
    margin-bottom  : 12px;
    border-radius  : 12px;
    background     : #474bff;
    background     : -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background     : linear-gradient(0deg, #474bff 0%, #bc48ff 100%);

}

.card_product:hover {
    animation-name           : backgroundColorPalette;
    animation-duration       : 5s;
    animation-iteration-count: infinite;
    animation-direction      : alternate;
    animation-timing-function: linear;
}

.button__animation {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition   : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition    : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition     : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition        : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display           : block;
    margin            : 20px auto;
    max-width         : 180px;
    text-decoration   : none;
    border-radius     : 4px;
    padding           : 20px 30px;
    color             : rgba(30, 22, 54, 0.6);
    box-shadow        : rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}


.button__animation:hover {
    color     : rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

/* 
button2 {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
} */


@keyframes backgroundColorPalette {
    0% {
        background: #ee6055;
    }

    25% {
        background: #60d394;
    }

    50% {
        background: #aaf683;
    }

    75% {
        background: #ffd97d;
    }

    100% {
        background: #ff9b85;
    }
}

.anim750{
  transition: all 750ms ease-in-out;
}

#Awesome{
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
  
  backface-visibility: hidden;
}

#Awesome .sticky{
	transform: rotate(45deg);
}

#Awesome:hover .sticky{
	transform: rotate(10deg);
}

#Awesome .sticky{
	position: absolute;
	top: 0;
	left: 0;
	width:180px;
	height: 180px;
}

#Awesome .reveal .circle{
	box-shadow: 0 1px 0px rgba(0,0,0,.15);
  
  font-family: 'helvetica neue', arial;
  font-weight: 200;
  line-height: 140px;
  text-align: center;
  
  cursor: pointer;
}

#Awesome .reveal .circle{
	background: #fafafa;
}

#Awesome .circle_wrapper{
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#Awesome .circle{
	position: absolute;
	width: 140px;
	height:  140px;
	margin: 20px;
	
	border-radius: 999px;
}

#Awesome .back{
	height: 10px;
	top: 30px;
}

#Awesome:hover .back{
	height: 90px;
	top: 110px;
}

#Awesome .back .circle{
	margin-top: -130px;
	background-color: #fbec3f;

	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0), rgba(255,255,255,.8));
}

#Awesome:hover .back .circle{
	margin-top: -50px;
}

#Awesome .front{
	height: 150px;
	bottom: 0;
	top: auto;
	
	-webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);
}

#Awesome:hover .front{
	height: 70px;
	
	-webkit-box-shadow: 0 -60px 10px -60px rgba(0,0,0,.1);
}

#Awesome .front .circle{
	margin-top: -10px;
	background: #fbec3f;

	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
  background-image: -moz-linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
  background-image: linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
}

#Awesome h4{
  font-family: 'helvetica neue', arial;
  font-weight: 200;
  text-align: center;
	position: absolute;
	width: 180px;
	height: 140px;
  line-height: 140px;
	
	transition: opacity 50ms linear 400ms;
}

#Awesome:hover h4{
	opacity: 0;
	
	transition: opacity 50ms linear 300ms;
}

#Awesome:hover .front .circle{
	margin-top: -90px;
	background-color: #e2d439;
	background-position: 0 100px;
}


#global{
    width:70px;
    margin:auto;
    position:relative;
    cursor:pointer;
    height:60px;
  }
  
  .mask{
    position:absolute;
    border-radius:2px;
    overflow:hidden;
     perspective: 1000;
    backface-visibility: hidden;
  }
  
  .plane{
    background:#ffffff;
    width:400px;
    height:100px;
    position:absolute;
    transform : translate3d(0px,0,0);
    /*transition: all 0.8s ease; */
    z-index:100;
    perspective: 1000;
    backface-visibility: hidden;
    
  }
   
  .animation{
    transition: all 0.3s ease;
  }
  
  
   
  #top .plane{
    z-index:2000;
    animation : trans1 1.3s ease-in infinite  0s backwards;
  }
  #middle .plane{
    transform : translate3d(0px,0,0);  
    background : #bbbbbb;
    animation : trans2 1.3s linear infinite  0.3s  backwards;
  
  }
  #bottom .plane{
    z-index:2000;
    animation : trans3 1.3s ease-out infinite  0.7s backwards;
  }
  
  
  
  #top{
    width:53px;
    height:20px;
    left:20px;
    transform: skew(-15deg, 0);
    z-index:100;
  }
  
  #middle{
    width:33px;
    height:20px;
    left:20px;
    top:15px;
    
    transform: skew(-15deg, 40deg)
  }
  #bottom{
    width:53px;
    height:20px;
    top:30px;  
    transform: skew(-15deg, 0)
  }
  
  p{
    color:#fff;
    position:absolute;
    left: -3px;
    top:45px;
    font-family:Arial;
    text-align:center;
    font-size:10px;
  }
  
  @keyframes trans1{ 
    from { 
      transform : translate3d(53px,0,0)
    }
    to { 
      transform : translate3d(-250px,0,0)
    }
  }
  
  @keyframes trans2{ 
    from { 
      transform : translate3d(-160px,0,0)
    }
    to { 
      transform : translate3d(53px,0,0)
    }
  }
  
  @keyframes trans3{ 
    from { 
      transform : translate3d(53px,0,0)
    }
    to { 
      transform : translate3d(-220px,0,0)
    }
  }
  
  @keyframes animColor{ 
    from { 
      background : red;
    }
    25%{
      background : yellow;
    }
    50%{
      background : green;
    }
    75%{
      background : brown;
    }
    to { 
      background : blue;
    }
  }