.card_product {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    padding        : 12px;
    height         : 400px;
    margin-bottom  : 12px;
    border-radius  : 12px;
    background     : #606c88;
    background     : -webkit-linear-gradient(0deg, #606c88 0%, #3f4c6b 100%);
    background     : linear-gradient(0deg, #606c88 0%, #3f4c6b 100%);
}

.card_product:hover {
    animation-name           : backgroundColorPalette;
    animation-duration       : 5s;
    animation-iteration-count: infinite;
    animation-direction      : alternate;
    animation-timing-function: linear;
}

.button__animation {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition   : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition    : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition     : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition        : all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display           : block;
    margin            : 20px auto;
    max-width         : 180px;
    background        : aliceblue;
    text-decoration   : none;
    border-radius     : 4px;
    text-transform    : uppercase;
    padding           : 10px 50px;
    color             : rgb(0, 0, 0);
    box-shadow        : rgb(255, 255, 255) 0 0px 0px 2px inset;
}


.button__animation:hover {
    color     : rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

@keyframes backgroundColorPalette {
    0% {
        background: #474bff;
    }

    25% {
        background: #1488cc;
    }

    50% {
        background: #a0e9ff;

    }

    75% {
        background: #1488cc;
    }

    100% {
        background: #4776e6;
    }
}